<div class="logo-header mobile-on">
    <!-- By default, the logos are on the right side, next to the buttons. -->
    <!-- But for mobile, this takes up too much space, so we move it to the header at the top. -->
    <div class="logo-spacing-general">
        <a class="logo-align-middle logo-card"
        href="https://kit.edu/"
        title="Karlsruhe Institute of Technology"
        aria-label="Visit the KIT Website">
            <img class="lightonly" src="{{ path_to_root }}kit_logo_en_black.svg" alt="KIT logo">
            <img class="darkonly" src="{{ path_to_root }}kit_logo_en_white.svg" alt="KIT logo">
            <img class="whiteonly" src="{{ path_to_root }}kit_logo_en.svg" alt="KIT logo">
        </a>
    </div>
</div>